<!-- left hand side filter in search result -->
<header class="filters-header">
  Filter your search results
  <span class="filters-header-icon icon-arrow-right"></span>
</header>
<div class="filters-wrapper">
  <% @filters.each do |filter_name, filter| %>

  <aside class="filter-section cf">
    <header class="filter-section-header" data-filter-state="closed">
      <%= filter_name %>
      <span class="filter-section-icon icon-arrow-right"></span>
    </header>
    <!-- filters are set to closed by default in the css -->
    <ol class="filter-items concise cf">

      <% filter.each_with_index do |filter_item, index|%>
      <li class="cf">
        <input type="checkbox" id="<%= filter_item + index.to_s %>">
        <label for="<%= filter_item + index.to_s %>"></label>
        <label class="filter-item-label" for="<%= filter_item + index.to_s %>">
        <%= filter_item %> (<%= rand(1..30) %>)</label>
      </li>
      <% end %>

    </ol>
    <% if (filter.length > 5) %>
    <a href="#" class="expandFilterItems">Show more</a>
    <% end %>
  </aside>

  <% end %>
</div>