  <header class='worko-header'>
    <section class="header-container">
      <div class="leaderboard-container">
        <%= image_tag("leaderboard.jpg", class: "leaderboard-ad") %>
      </div>
      <div class="workopolis-logo">
        <%= image_tag("workopolis-logo-notag.png", class: "woropolis-large-logo") %>
      </div>

      <nav class="top-navigation">
        <a>Find Jobs</a>
        <a>My Resume</a>
        <a>My Dashboard</a>
        <a>Advice & Tips</a>
        <a>Sign In/Join Now</a>  
      </nav>

      <div class="employer-link">
        <span class="icon-notebook"></span>
        <a href="/">Employers</a>
      </div>
    </section>
    <section class="topnav-green-bar">
      <div class="global-search">
      <%= image_tag("web-logo.png", class: "web-logo") %>
        <form>
          <p>
           <input type="text" class="keyword search-field-trigger" placeholder="Job Title, Keywords" tabindex="1" />
         </p> 
         <p>
           <input type="text"  class="location search-field-trigger" placeholder="Location" tabindex="2"/>
         </p>

         <button class="submit-search btn4 search-field-trigger" tabindex="3"><span class="icon-search"></span>Search Jobs</button>

       </form>  
     </div>
   </section>
   <div class="dropdown-browse-jobs">
    <div class="dropdown-container">

      <div class="dropdown-secondary-menu"> 
        <% 7.times do %>
        <a href="#"><%= WorkoIpsum.job_title %></span></a>
        <% end %>
      </div>
      <% 3.times do%>
      <div>
        <% 7.times do %>
        <div class="dropdown-menu-item"><a href="#"><%= WorkoIpsum.job_title %></a></div>
        <% end %>
      </div>
      <% end %>
    </div>


  </div>

</header>