<!-- individual job posting in the searchresults page -->
<div class="job-container cf">
  <div class="thumbnail-col">
    <img class="thumbnail" src="http://placekitten.com/g/88/31" /></div>
  <div class="description-col">
    <!-- <a class="job-title"><%= job.title %></a> -->
    <%= link_to job.title, job, class: ["job-title", job.is_bold_or_featured ? "bold" : ""] %>
    <div class="company-name"><%= job.company.name %></div>
    <span class="address"><%= job.location %></span>
    <span class="date">Posted <%= time_ago_in_words(job.created_at) %> ago</span>
  </div>
  <div class="misc-col">
    <% if job.is_recent && !job.is_featured%>
      <div class="new">New- 18px</div>
    <% end %>
    <% if job.is_featured %>
      <div class="featured">Featured</div>
    <% end %>
  </div>
</div>
